.user-info-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;

    height: 90vh;
  }
  
  .user-info-content {
    flex: 1;
    display: flex;

    
  }
  
  .left-section{
    flex: 2;
    color: white;
    padding: 20px;
  }
  .right-section{
    flex: 1;
    color: white;
    padding: 20px;
  }
  
  .left-section {
    background-color: #0f1014;
  }
  
  .right-section {
    margin-left: 1px;
    background-color: #0f1014;
  }
  
  .left-section h2,
  .right-section h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  .tocenter {
    display: flex;
    justify-content: center;
  }
  .expand-button {
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto; 
  }
  
  .expand-button .arrow {
    width: 20px;
    height: 20px;
    border: solid white;
    border-width: 4px 4px 0 0;
    transform: rotate(-225deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .expand-button.collapsed .arrow {
    transform: rotate(-405deg);
  }
  
  .cursor{
    cursor: pointer;
  }
