
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    max-width: 100%;
    background-color: #0f1014;
    color:white ;
    position: relative; 
    min-height: 100vh;
  }
  
  .movie-card {
    flex-basis: calc(25% - 15px);
    padding: 10px;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 1200px) {
    .movie-card {
        flex-basis: calc(33.33% - 15px);
    }
  }
  
  @media screen and (max-width: 800px) {
    .movie-card {
        flex-basis: calc(50% - 15px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .movie-card {
        flex-basis: calc(100% - 15px);
    }
  }
  .load-more-container {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  .load-more-button {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 200px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .load-more-button:hover {
    background-color: #111;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; 
  }
