.contact-container {
    background-color: #0f1014;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .separator {
    height: 0.9px;
    background-color: #ffffff21;
  }
  
  .contact-content {
    margin-bottom: 30px;
  }
  
  
  
  
  
  
  
  