.search {
  margin-right: 15px;
}

.header-content {
  height: 70px;

}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090A0E;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 10px;
  transition: top 0.3s;
}

.navbar.hidden {
  top: -20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo img {
  height: 30px;
  width: auto;
  margin-right: 5px;
}

.app-text {
  font-size: 20px;
}

.tabs-container {
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.menu-tab {
  margin-right: 10px;
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px; 
}
.semi-menu-tab{
  font-size: 10px; 
}


.menu-tab:hover {
 
  text-decoration: underline; 
}
.tab-separator {
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  margin-right: 8px;
}


.active-tab {
  text-decoration: underline;
  color: #989899;
}


.tabs-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: auto; 
}

.search-box {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 50px;
  margin-right: 10px;
}

.search-button {
  margin-right: 15px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 20px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo:hover {
  text-decoration: underline;
}

.app-text {
  margin-left: 10px;
  cursor: pointer;
}

.search-button {
  cursor: pointer;
}

.search-button:hover {
  background-color: #111;
}

.check {
  cursor: pointer;
}